In [22]:
import pandas as pd

In [23]:
df800km = pd.read_csv('800km_SC.csv')

In [24]:
T_filter = df800km[df800km['T'] > 3]
T_filter

       id   T   U  S_obs  Q1  Q2      SC
0     0_0  43  62     13   1   6  0.9875
2    0_16  19  23      8   4   2  0.8352
3    0_17  15  21     11   8   2  0.6322
4     0_2  21  27     14   7   4  0.7548
6     0_4   5   6      3   2   0  0.7778
..    ...  ..  ..    ...  ..  ..     ...
356   8_4   6   6      3   2   0  0.7619
359  9_10   4   4      1   0   0  1.0000
360  9_11  16  23     11   4   4  0.8465
361  9_12  29  44     17   8   4  0.8245
362  9_13  19  21      5   1   0  1.0000

[253 rows x 7 columns]

In [25]:
U_filter = T_filter[T_filter['U'] > T_filter['Q1']]
U_filter

       id   T   U  S_obs  Q1  Q2      SC
0     0_0  43  62     13   1   6  0.9875
2    0_16  19  23      8   4   2  0.8352
3    0_17  15  21     11   8   2  0.6322
4     0_2  21  27     14   7   4  0.7548
6     0_4   5   6      3   2   0  0.7778
..    ...  ..  ..    ...  ..  ..     ...
356   8_4   6   6      3   2   0  0.7619
359  9_10   4   4      1   0   0  1.0000
360  9_11  16  23     11   4   4  0.8465
361  9_12  29  44     17   8   4  0.8245
362  9_13  19  21      5   1   0  1.0000

[247 rows x 7 columns]

In [26]:
S_obs = U_filter[U_filter['S_obs'] > 2]
S_obs

       id   T    U  S_obs  Q1  Q2      SC
0     0_0  43   62     13   1   6  0.9875
2    0_16  19   23      8   4   2  0.8352
3    0_17  15   21     11   8   2  0.6322
4     0_2  21   27     14   7   4  0.7548
6     0_4   5    6      3   2   0  0.7778
..    ...  ..  ...    ...  ..  ..     ...
354  8_13  80  118     24   8   2  0.9326
356   8_4   6    6      3   2   0  0.7619
360  9_11  16   23     11   4   4  0.8465
361  9_12  29   44     17   8   4  0.8245
362  9_13  19   21      5   1   0  1.0000

[230 rows x 7 columns]

In [27]:
filtered_df = S_obs

In [21]:
filtered_df[filtered_df['SC'] == 1]

        id    T    U  S_obs  Q1   SC
12    1_12    7    7      3   0  1.0
49    12_7   30   46      6   0  1.0
60   13_16  358  733     11   1  1.0
62    13_2   72  119      9   1  1.0
66    13_6   25   53      8   1  1.0
73   14_16  564  768     10   1  1.0
82    15_3   25   29      3   1  1.0
84    15_5    9   15      4   0  1.0
140   20_3    7   22      4   0  1.0
147  22_14  104  130     11   0  1.0
194  28_13    8    8      3   1  1.0
206   30_0   14   23      5   1  1.0
254   36_3    7    8      4   0  1.0
362   9_13   19   21      5   1  1.0

In [29]:
close_TU_df = filtered_df[abs(filtered_df['T'] - filtered_df['U']) < 2]

In [33]:
# sort by Q1
sorted_df = close_TU_df.sort_values(by='Q1', ascending=False)
sorted_df

        id   T   U  S_obs  Q1  Q2      SC
80   15_16   8   9      8   7   1  0.2527
230  34_11   9   9      8   7   1  0.2490
276  38_15  20  21     10   6   1  0.7192
296   4_16   7   8      7   6   1  0.2895
311   41_1  15  16     10   6   3  0.6500
297   4_17  11  12      8   5   2  0.6142
291   39_5  16  17      9   5   1  0.7135
272   38_0   6   7      6   5   1  0.3386
323   42_1   5   6      5   4   1  0.4074
7      0_5   7   8      6   4   2  0.5714
77    15_1   6   6      5   4   1  0.3939
203   3_17  13  14      6   4   0  0.7293
333  43_19   5   6      5   4   1  0.4074
197   28_8   8   8      6   4   2  0.5625
192  28_11   7   7      5   4   0  0.4857
337  43_33   5   6      5   4   1  0.4074
86    16_0   8   9      6   3   3  0.7407
107   17_8   7   8      4   3   0  0.6786
132    2_5   5   6      4   3   0  0.6000
180  26_17   5   5      4   3   1  0.4857
176  26_11   6   7      5   3   2  0.6617
269   37_7  15  16      8   3   3  0.8359
208  30_10   5   5      4   3   1  0.4857
344    6_0   5   5      3   2   0  0.7333
6      0_4   5   6      3   2   0  0.7778
43   12_16   5   5      3   2   0  0.7333
224  33_11   6   6      3   2   0  0.7619
51    12_9   7   7      4   2   1  0.7551
356    8_4   6   6      3   2   0  0.7619
294   39_8   6   6      4   2   2  0.7619
194  28_13   8   8      3   1   0  1.0000
263  37_15  11  12      4   1   2  0.9405
78   15_10   7   7      3   1   1  0.8929
12    1_12   7   7      3   0   2  1.0000
254   36_3   7   8      4   0   4  1.0000