In [1]:
import pandas as pd

In [2]:
df800km = pd.read_csv("iNEXT_output/200km_SC.csv")
df800km.head()

     id      SC
0   0_0  0.7429
1   0_1  0.6250
2  0_10  0.6667
3  0_11  1.0000
4  0_14  0.8889

In [10]:
df800km['SC_normalized'] = df800km['SC'].rank(method='average', pct=True)

In [12]:
df800km["SC_normalized"].describe()

count    1415.000000
mean        0.500353
std         0.277739
min         0.000707
25%         0.250530
50%         0.500353
75%         0.789753
max         0.789753
Name: SC_normalized, dtype: float64